<%= link_to 'Home', topics_path, :class => "btn btn-warning" %>

  <table class="table table-hover">
    <thead class="text-canter">
      <tr>
        <th>使用者人數</th>
        <th>所有文章數</th>
        <th>所有評論數</th>
      </tr>
    </thead>

    <tbody class="text-canter">
      <tr>
        <td><%= @users %></td>
        <td><%= @topics %></td>
        <td><%= @comments %></td>
      </tr>

    </tbody>

</table>